/Class 3/Attributes/nbproject/private/
/Class 3/Attributes/build/
/Class 3/Attributes/dist/
/Class 3/ciclos/nbproject/private/
/Class 3/ciclos/build/
/Class 3/practica2/nbproject/private/
/Class 3/practica2/build/
/Class 3/34/nbproject/private/
/Class 3/34/build/
/Class 3/switch/nbproject/private/
/Class 3/switch/build/